<div class="profile-main">
    <div class="profile-container1">
        <div class="person-name">
            <h3>{{userData?userData.username.charAt(0).toUpperCase()+userData.username.slice(1):"loading"}}</h3>
        </div>
        <div class="profilePic" *ngIf="userData">
            <img src={{userData.imageUrl}}/>
        </div>
        <div class="person-info">
            <ul>
                <li>{{userData?userData.username.charAt(0).toUpperCase()+userData.username.slice(1):"loading"}}</li><br/>
                <li>{{userData?userData.email:"loading"}}</li><br/>
                <!--<li><span>{{friendData?friendData.length:"loading..."}}</span> followers</li><br/>
                <li><span>{{postData?postData.length:"loading..."}}</span> posts</li>-->
            </ul>
        </div>
    </div>
    <div class="profile-container2">
        <div class="gallery-lbl">
            <h4>My Gallery</h4>
        </div>
        <div class="gallery">
            <div *ngIf="postData">
                <h5 class="no-post" *ngIf="postData?postData.length==0:'loading'">No posts yet...</h5>
                <div *ngFor="let post of postData">
                    <div class="images">
                        <img src={{post.imageUrl}}>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
